h1{
text-align:center
}

.banner{
width:100%;
margin:10 auto 10 auto;
object-fit:cover; important!
height=60px
}
.center_text{
test-align:center}
h2{
text-align:center}

div>button{
float:right
}
h3{
margin-top:10px}