<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>job page</title>
</head>
<body>
<!--<div class="container w-75 mt-4 mb-4" style="border-bottom:1px solid lightgrey;padding-bottom:8px ">-->
<!--    <div class="row">-->
<!--        <div class="col">-->
<!--<h3>{{job[0][1]}}</h3>-->
<!--<h5><b>Location:</b>  {{job[0][2]}}</h5>-->

<!--<h5><b>Salary:</b> {{job['Salary']}}</h5>-->
<!--            </div>-->
<!--        <div class="col">-->
<!--            <button class="btn btn-outline-primary float-end" style="margin-top:40px">Apply</button>-->
<!--       </div>-->
<!--    </div>-->


<!--</div>-->

</body>
</html>