<nav class="navbar navbar-expand-lg" style="background-color: black;" data-bs-theme="light">
    <div class="container-fluid w-100">
        <div class="row">
        <div class="col-md-2">
        <a class="navbar-brand" href="#">
            <img src="/static/images/logo.jpg" alt="logo image" width="70" height="74" class="d-inline-block align-text-top"> </a>
        </div>

        <div class="col-md-2">
             <li ><a href="https://www.marvel.com/" class="nav-link px-2 text-muted"> <h5  style="color:white; margin-left:10px margin-top:30px">Home</h5></a></li>
            </div>
        <div class="col-md-2">
             <li ><a href="https://www.marvel.com/articles" class="nav-link px-2 text-muted"><h5 style="color:white; margin-left:10px">News</h5></a></li>
            </div>
        <div class="col-md-2">
             <li ><a href="https://www.marvel.com/characters" class="nav-link px-2 text-muted"><h5 style="color:white; margin-left:10px">Character</h5></a></li>
            </div>
        <div class="col-md-2">
             <li ><a href="https://www.marvel.com/movies" class="nav-link px-2 text-muted"><h5 style="color:white; margin-left:20px">Movies</h5></a></li>
            </div>



            </div>


    </div>
</nav>